@font-face {
    font-family: 'IBM Plex Sans';
    src: url('../fonts/ibm-plex-regular.ttf') format('truetype'); /*Формат добавила на всякий случай для совместимости с браузерами*/
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family:'IBM Plex Sans';
    src: url('../fonts/ibm-plex-medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}



/*сброс стилей*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 15px;
    line-height: 1.2;
    color: #333;
    background-color: #F7F9FA;
    -webkit-font-smoothing: antialiased; /* Добавила для сглаживания букв */
}

a {
    text-decoration: none;
    color: inherit;
    transition: color 0.2s ease;
}




/*общие компоненты*/
.container {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.img-responsive {
    max-width: 100%;
    height: auto;
    display: block;
}

.img-icon {
    display: inline-block;
    vertical-align: middle;
    flex-shrink: 0;
}

/*хедер*/

.bank-header {
    width: 100%;
    position: relative;
    z-index: 100;
}

.bank-header__top {
    border-bottom: 1px solid #F2F2F2;
}


.header-top{
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 15px;
    border-bottom: 1px solid #eee;
}

.header-top__container {
    padding: 0 60px 0 60px
}

.header-top__nav {
    display: flex;
    align-items: center;
}

.header-top__link {
    color: #666;
    padding: 16px 0;
    margin-right: 16px;
}

.header-top__link--active {
    color: #313133;
    font-weight: 500;
    box-shadow: inset 0 -2px 0 #760135;
}

.header-top__separator {
    display: inline-block;
    width: 1px;
    height: 20px;
    margin: 0 16px;
    vertical-align: middle;
    font-size: 0;
    background-color: #E0E1E6;
    overflow: hidden;
}

.header-top__info {
    display: flex;
    align-items: center;
}

.header-top__phone {
    margin-right: 16px;
    font-weight: 600;
}

.header-top__location {
    display: flex;
    align-items: center;
    margin-right: 16px;
}

.header-top__location-icon {
    width: 20px;
    height: 20px;
    margin-right: 4px;
    display: block;
}

.header-top__lang {
    text-decoration: none;
    color:#0D0D0D;
    padding: 16px 0;
}

.bank-header__main {
    padding: 0;
}

.header-main__container {
    padding: 0 60px 0 60px;
    display: flex;
    align-items: center;
}

.header-main__logo {
    margin: 19px 24px 19px 0;
}

.logo__img {
    width: 130px;
    height: 30px;
    display: block;
}

.main-menu__item {
    display: flex;
    align-items: center;
    gap: 4px;
}

.main-menu__list {
    display: flex;
    list-style: none;
    margin-top: 24px;
    margin-bottom: 24px;
    gap: 16px;
    align-items: center;
}

.main-menu__link {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #0D0D0D;
    white-space: nowrap;
    line-height: 20px;
}

.main-menu__link:hover {
    color: #8B1A3E
}

.main-menu__dropdown {
    display: flex;
    align-items: center;
    position:relative;
    gap: 4px;
}

.main-menu__arrow{
    width: 16px;
    height: 16px;
    margin-top: 4px;
}

.header-main__actions {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.actions__item {
    display: flex;
    align-items: center;
}

.actions__item + .actions__item {
    margin-left: 0px;
}

.actions__icon-phone,
.actions__icon-login {
    width: 24px;
    height: 24px;
}

.actions__icon-phone {
    margin-right: 8px;
}

.actions__icon-login {
    margin-right: 8px;
}

.action__link-green {
    color: #00A36D;
    font-weight: 500;
}

.actions {
    display: flex;
    align-items: center;
    gap: 16px;
}

.actions__callback {
    color: #00A36D;
    font-weight: 500;
}

.actions__login-btn {
    color: #8B1A3E;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 8px
}


/*микробаннер*/

.breadcrumb {
    position: absolute;
    top: 19.5px;
    left: 61px;
    padding: 0;
    z-index: 10;
    display: flex;
    gap: 8px;
    align-items: center;
    white-space: nowrap;
}

.breadcrumb__link {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 1;
    color: #0D0D0D;
    opacity: 0.5;
}

.breadcrumb__link:hover {
    color:760135;
}

.breadcrumb__arrow {
    width: 16px;
    height: 16px;
    opacity: 0.5;
    object-fit: contain;
    padding: 4px;
    display: block;
    flex-shrink: 0;
}

.breadcrumb__current {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 1;
    opacity: 1;
    color: #0D0D0D;
}

.hero {
    background: linear-gradient(to top right, #EFF9FF, #FEE4FF);
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    min-height: 380px;
    overflow: hidden;
    position: relative;
}

.hero__body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    flex: 1;
    align-items: flex-start;
}

.hero__container {
    position: relative;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0;
    min-height: 380px;
}

.hero__content {
    flex-shrink: 0;
    z-index: 2;
    padding-left: 60px;
    padding-top: 112px;
    padding-bottom: 111.5px;
}

.hero__title {
    font-size: 38px;
    font-weight: 500;
    color: #0D0D0D;
    letter-spacing: -0.2em;
    line-height: 1.2;
    letter-spacing: 0;
    margin-bottom: 16px;
    white-space: nowrap;
    -webkit-text-stroke: 0.6px #0D0D0D;
}

.hero__subtitle {
    font-size: 15px;
    font-weight: 400;
    line-height: 1.4;
    color: #0D0D0D;
    margin-bottom: 24px;
}

.hero__btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #760135;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    padding: 8px 24px;
    border-radius: 8px;
    gap: 10px;
    width: 231px;
    height: 48px;
    transition: background-color 0.2s ease;
}

.hero__btn:hover {
    background-color: #5a0128;
}

.hero__visual {
    position: relative;
    width: 524.5px;
    height: 363.5px;
    margin-top: 15px;
    margin-right: 95.5px;
    flex-shrink: 0;
}

.hero__car-wrapper {
    position: absolute;
    width: 412.5px;
    height: 342.5px;
    top: 12.5px;
    left: 70.5px;
    z-index: 2;
}

.hero__circle--main {
    width: 330px;
    height: 330px;
    background-color: #760135;
    border-radius: 50%;
    position:absolute;
    top: 0;
    left:82.5px;
}

.hero__car {
    position: absolute;
    width: 413px;
    height: auto;
    top: 28.5px;
    left: 1px;
    z-index: 3;
    max-width: none;

}


.hero__circle--decor {
    position: absolute;
    border-radius: 50%;
}

.hero__circle--d1,
.hero__circle--d2,
.hero__circle--d3,
.hero__circle--d4 {
    background: linear-gradient(to top right, #FF55A1, #760135);
    opacity: 0.5;
    filter: blur(10px);
}

.hero__circle--d5,
.hero__circle--d6 {
    background: linear-gradient(to top right, #FF55A1, #760135);
    opacity: 1;
}

.hero__circle--d1 {
    width: 48px;
    height: 48px;
    top: 24.5px;
    left: 79px;
}

.hero__circle--d2 {
    width: 115px;
    height: 115px;
    top: 123.5px;
    left: 0px;
}

.hero__circle--d3 {
    width: 42px;
    height: 42px;
    top: 264.5px;
    left: 106px;
}

.hero__circle--d4 {
    width: 115px;
    height: 115px;
    top: 0px;
    left: 358px;
}

.hero__circle--d5 {
    width: 61px;
    height: 61px;
    top: 204px;
    left: 455px;
}

.hero__circle--d6 {
    width: 43px;
    height: 43px;
    top: 264px;
    left: 424px;
}

.hero__lines-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    pointer-events: none;
}

.hero__line {
    position: absolute;
    background-color: #760135;
    opacity: 0.05;
    width: 2000px;
    height: 125.51px;
    transform: rotate(34.1deg);
    transform-origin: left center;
}

.hero__line--1 {
    top: -150px;
    left: 870px;
}

.hero__line--2 {
    top: -150px;
    left: 560px;
}

.hero__line--3 {
    top: -150px;
    left: 250px;
}

.hero__blur-oval {
    position: absolute;
    width: 113px;
    height: 143px;
    top: 72px;
    left: 589px;
    background: #A4C4FF;
    border-radius: 50%;
    filter: blur(55px);
    opacity: 1;
    z-index: 0;
    pointer-events: none;
}

.hero__bottom-gradient {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 104px;
    background: linear-gradient(180deg, rgba(247,249,250,0),#F7F9FA);
    pointer-events: none;
}

/*Раздел с выбором авто*/

.car-selection {
    margin-top: 40px;
    width: 100%;
    padding-bottom: 60px;
}

.car-selection__container {
    display: block;
    max-width: 1440px;
}

.car-selection__header {
    display: flex;
    justify-content: space-between;
    margin-top: 41px;
    align-items: center;
    margin-bottom: 32px;
    padding-left: 173px;
    padding-right: 172px;
    width: 100%;
}

.car-selection__title {
    width: 306px;
    height: 42px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 32px;
    font-weight: 500;
    color:#0D0D0D;
    line-height: 1.3;
    margin-right: 24px;
    margin: 0;
}

.car-selection__toggle {
    background: none;
    border: none;
    background-color: #FFFFFF;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 256px;
    height: 40px;
    padding: 8px 24px;
    gap: 10px;

    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 500;
    font-size: 15px;
    line-height: 100%;
    letter-spacing: 0px;
    color:#760135;

    white-space: nowrap;
}

.car-selection .car-selection__toggle img.img-icon {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    min-width: 24px;
    min-height: 24px;
    object-fit: scale-down;
    display: block;
    padding: 4px;
}

.car-filters {
    display: flex;
    align-items: flex-end;
    padding: 0 173px;
    margin-top: 24px;
}

.car-filters__item {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.car-filters__label {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 15px;
    font-weight: 500;
    line-height: 100%;
    color: #0D0D0D;
    text-align: left;
}

.car-filters__item--brand{
    width: 441px;
    margin-right: 24px;
}

.car-filters__item--year {
    width: 219px;
    margin-right: 24px;
}

.car-filters__select-wrapper {
    position: relative;
    width: 100%;
}

.car-filters__item--price {
    width: auto;
}

.car-filters__select,
.car-filters__input {
    height: 40px;
    background-color: #F3F3F5;
    border: 1px solid #ECEDF0;
    border-radius: 8px;
    display:flex;
    font-size: 13px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 400;
    color:#0D0D0D;
}

.car-filters__select {
    width: 100%;
    height: 40px;
    background-color: #F3F3F5;
    border: 1px solid #ECEDF0;
    border-radius: 8px;
    padding: 0 16px;
    appearance: none;
    -webkit-appearance: none;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 13px;
    outline: none;
    cursor: pointer;
}

.car-filters__select span {
    color: #0D0D0D;
    font-size: 14px;
}

.car-filters__arrow {
    position: absolute;
    right: 16px;
    top:50%;
    width: 16px;
    height: 16px;
    transform: translateY(-50%);
    pointer-events: none;
}

.car-filters__range {
    display: flex;
    align-items: center;
}

.car-filters__input {
    height: 40px;
    width: 170px;
    background-color: #F3F3F5;
    border: 1px solid #ECEDF0;
    font-family: 'IBM Plex Sans', sans-serif;
    border-radius: 8px;
    font-size: 13px;
    padding: 0 16px;
    outline: none;
}

.car-filters__item--price .car-filters__input:last-child{
    width: 169.4px;
}

.car-filters__dash-icon{
    width: 18.07px;
    height: 3px;
    align-self: center;
    margin: 0 18.46px 0 18.07px;
    background-color: #E6E7EB;
    border-radius: 3px;
}

.car-filters__input::placeholder {
     font-family: 'IBM Plex Sans', sans-serif;
     font-weight: 400;
     font-size: 13px;
     line-height: 18px;
     color: #8E8E93;
     opacity: 1;

}

.car-filters__item--ptice .car-filters__input:last-child{
    width: 169.4px;
}

.car-filters__select-wrapper .car-filters__arrow {
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
}


/*Лучшие предложения*/
.car-offers {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
    max-width: 1094px;
    margin-left: auto;
    margin-right: auto;
}

.car-card {
    width: 100%;
    height: 306px;
    background-color: #FFFFFF;
    border-radius: 16px;
    display: flex;
    position: relative;
    overflow: hidden;
}

.car-card__content {
    padding: 40px;
    display: flex;
    flex-direction: column;
    z-index: 2;
    position: relative;
}

.car-card__badge {
    color: #25B456;
    font-size: 15px;
    font-weight: 500;
    line-height: 100%;
    margin-bottom: 13px;
}

.car-card__title {
    color: #111111;
    font-size: 24px;
    font-weight: 500;
    line-height: 100%;
    margin-bottom: 16px;
}

.car-card__description {
    color: #282828;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.2;
    margin-bottom: 21px;
}

.car-card__price{
    color: #760135;
    font-size: 24px;
    font-weight: 500;
    line-height: 100%;
    margin-bottom: 21px;
}

.car-card__more {
    display: flex;
    align-items: center;
    gap:8px;
    color: #760135;
    font-size: 13px;
    font-weight: 400;
    line-height: 100%;
    text-decoration: none;
}

.car-card__arrow {
    width: 18px;
    height: 18px;
}

.car-card__image-wrapper {
    position: absolute;
    width: 509px;
    height: 260px;
    top: 23px;
    left:585px;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.car-card__img{
    max-width: 100%;
    height: auto;
    object-fit: contain;
}

.car-card__visual {
    position: absolute;
    width: 509px;
    height: 260px;
    top: 23px;
    left: 585px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background: transparent;
    z-index: 2;;
}

.car-card__slider-wrapper {
    width: 508.97px;
    height: 166.82px;
    overflow: hidden;
    position: relative;
    display: flex;
    z-index: auto;
    align-items: center;
    justify-content: center;
}

.car-card__slider {
    display: flex;
    will-change: center;
    width: 100%;
    height: 100%;
    transition: transform 0.8s ease-in;

}
.car-card__slide{
    position: relative;
    flex: 0 0 100%;
    width: 100%;
    height: 100%;
    display: flex;
    opacity: 1;
    justify-content: center;
    padding-left: 0;
    align-items: center;
}

.car-card__slide img{
    width: 308.97px;
    height: 166.82px;
    object-fit: contain;
}

.slider-btn {
    width: 42.56px;
    height: 42.56px;
    position: absolute;
    top: 108.95px;
    background: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    outline: none;
    z-index: 110;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.3;
    transition: opacity 0.8s ease;
}

.slider-btn__img {
    width: 11.53px;
    height: 6.21px;
    transform: scale(2.5);
    object-fit: contain;
    pointer-events: none;
    
}

.slider-btn__img--mirror {
    transform: scale(2.5) scaleX(-1);
}

.slider-btn--hidden {
    opacity: 0;
    pointer-events: none;
}

.slider-btn--prev { 
    left:  53.11px;
}

.slider-btn--next { 
    right: 53.11px;
}

.slider-btn--next .arrow-icon {
    transform: rotate(225deg);
}

.car-card__visual::before,
.car-card__visual::after {
    content: "";
    position: absolute;
    top: 0;
    width: 76.6px;
    height: 100%;
    z-index:100;
    pointer-events: none;
}

.car-card__visual::before{
    left: 0;
    background: linear-gradient(90deg, #FFFFFF 0%, rgba(255,255,255,0)100%);
}

.car-card__visual::after{
    right: 0;
    background: linear-gradient(270deg, #FFFFFF 0%, rgba(255,255,255,0) 100%);
}

.car-card__slide--active {
    opacity: 1;
    z-index: 2;
}



/*список машин*/
.cars-catalog {
    margin-top: 16px;
    padding: 0 173px;
    width: 100%;
    box-sizing: border-box;
}

.cars-grid {
    display: grid;
    grid-template-columns: repeat(3, 354px);
    column-gap: 16px;
    row-gap: 14px;
    justify-content: center;
}

.car-item {
    width: 354px;
    min-height: 1px;
    background: #FFFFFF;
    border-radius: 16px;
    padding: 16px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    position: relative;
}

.car-item__image-wrapper {
    width: 100%px;
    height: 200px;
    border-radius: 16px;
    overflow: hidden;
    margin-bottom: 16px;
}

.car-item__img {
    width: 100%;
    height: auto;
    object-fit: contain;
    transition: transform 0.66s ease-in-out;
    display: block
}

.car-item:hover .car-item__img{
    transform: scale(1.08);
}

.car-item__title{
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 500;
    font-size: 17px;
    line-height: 100%;
    margin: 0 0 16px 0;
    height: 22px;
    color: #000;
}

.car-item__city{
    font-family: 'IBM PLex Sans', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 100%;
    margin: 0 0 8px 0;
    color: #000;
    height: 20px;
}

.car-item__footer {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.car-item__price {
    font-family: 'IBM Plex Sans',sans-serif;
    font-weight: 500;
    font-size: 17px;
    line-height: 100%;
    color: #760135
}

.car-item__link {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 15px;
    color: #000;
    text-decoration: none;
    display: flex;
    align-items: center;
    position: relative;
    transition: color 0.3s ease;
}

.car-item__arrow {
    opacity: 0;
    transform: translateX(-10px);
    transition: all 0.3s ease;
}

.car-item__link::after{
    content: '';
    display: inline-block;
    width: 14px;
    height: 14px;
    background: url('../image/buttons/right.png') no-repeat center / contain;
    background-size: contain;
    margin-left: 0;
    opacity: 0;
    margin-left: -10px;
    transition: all 0.3s ease;
    transform: translateX(-10px);
}

.car-item:hover .car-item__link {
    color:#760135
}

.car-item:hover .car-item__link::after{
    opacity: 1;
    margin-left: 8px;
    transform: translateX(0);
}

.car-item:hover .car-item__arrow {
    opacity: 1;
    transform: translateX(8px);
}